:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  --Very-dark-blue-bg: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

article {
  padding: 1.5rem;
  border-radius: 0.75rem;
  width: 300px;
  background-color: var(--Very-dark-blue-card);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nft-image-container {
  position: relative;
  margin-bottom: 1.25rem;
  height: 300px;
}

.nft-image-container div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  border-radius: 0.5rem;
}

.nft-image-container div:hover {
  opacity: 1;
  cursor: pointer;
}
.nft-image-container div:hover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nft-image {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

h1 {
  color: var(--White);
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

h1:hover {
  color: var(--Cyan);
  cursor: pointer;
}

.description {
  font-size: 1.125rem;
  color: var(--Soft-blue);
  margin-bottom: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

.price-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  align-items: center;
  font-weight: 400;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  color: var(--Cyan);
}

.deadline {
  color: var(--Soft-blue);
}

hr {
  height:2px;
  border-width:0;
  color: var(--Very-dark-blue-line);
  background-color: var(--Very-dark-blue-line);
  margin-bottom: 0.75rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 300;
}

.user-info .profile-picture {
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--White);
}

.user-info p {
  color: var(--Soft-blue);
}

.user-name {
  color: var(--White);
}

.user-name:hover {
  color: var(--Cyan);
  cursor: pointer;
}